<div class="section">
    <div class="container">
        <div class="row">
            <% @posts.each do |post| %>
                <div class="col-lg-4">
                    <div class="border col-lg-12">
                        <p class="title is-4"><%= link_to post.title, post  %></p>
                        <div class="content">
                            <%= truncate(post.body, length: 45) %>
                        </div>
                        <div>
                            <small>
                                Posted <%= time_ago_in_words(post.created_at) %> ago
                            </small>
                        </div>
                        <div class="comment-count">
                            <span class="tag is-rounded"><%= post.comments.count %> comments</span>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>