<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<p><%= @post.created_at %></p>

<%= link_to "Edit", edit_post_path(@posts) %>
<%- link_to "Delete", post_path(@posts), method: :delete, data: {confirm: "Are you sure?"} %>
